<div>
    <p>
        Result from Angular Controller is: <b>{{ bla }}</b>
    </p>
    <p>
        Result from REST Web Service is: <b>{{ foo }}</b>
    </p>
    <p>
        The result from REST Web Service should be: <b>John</b>
    </p>
    <p>
        If the result from REST Web Service is empty: Check that the backend REST Web Service is running and returning the expected result.
    </p>
    <ol>
        <li>in modern browsers just open a new tab and enter <i>http://localhost:8080/angulardemo/web/dummy</i> <b>or</b></li>
        <li>execute curl directly from the command line:<i>curl -i -X GET -H 'Content-Type: application/json' http://localhost:8080/angulardemo/web/dummy </i><b>or</b></li>
    </ol>
    <p>Maybe you just forgot to start the backend REST Web Service?</p>
    All of the above results should contain:
    <div>
        <b>{"id":0,"firstName":"John 1","lastName":"Doe1"}</b>
    </div>
</div>

